@charset "utf-8";

$clr-theme-1: $clr-blue-800;
$clr-theme-2: $clr-blue-300;
$clr-theme-3: $clr-blue-50;
$clr-theme-4: $clr-blue-100;
$clr-theme-5: $clr-blue-200;
$clr-theme-6: $clr-blue-400;
$clr-theme-7: $clr-blue-500;
$clr-theme-8: $clr-blue-600;
$clr-theme-9: $clr-blue-700;
$clr-theme-10: $clr-blue-900;
$clr-theme-11: $clr-blue-a100;
$clr-theme-12: $clr-blue-a200;
$clr-theme-13: $clr-blue-a400;
$clr-theme-14: $clr-blue-a700;
